header{
    width: 100%;
    height: auto;
    background-color: rgb(39, 130, 204);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw; 
}

#logo_proficao {
    display: flex;
    align-items: center;
    width: auto;
}

#logo_proficao img {
    width: 15vh;
    height: 14vh;
    
}

#logo_proficao h3 {
    margin: 0;
}


#btns_paginas {
    display: flex;
    gap: 3vw; 
    margin-right: 5%;
}

button.btn {
    background-color: transparent;
    border: none;
    padding: 1vw 2vw; 
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
}

button.btn:hover, button.btn:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none; 
    transform: scale(1.05); 
}

#btn_home {
    background-color: #59abe6;
}

#btn_formacao {
    background-color: #418FCE;
}


#btn_projetos {
    background-color: #204682;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh; 
    padding: 2vw;
}

#img_principal {
    display: flex;
    align-items: center;
    margin-right: 2vw; 
}

#img_principal img {
    width: 40vw;
    height: auto;
}

#infos {
    max-width: 50vw;
}

    #primeiro_nome {
        font-size: 4rem;
    
}
#segundo_nome {
    font-size: 3rem;
    margin: 0;
}

.cor_verde {
    color: #1B4683; 
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

