@import url(./infos.css);
@import url(./img.css);
@import url(./section.css);
@import url(./../header.css);
@import url(./../projetos/menu.css);
      
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Gurajada&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

body{
  margin:0 ;
  padding:0 ;
  overflow-x: hidden;
  background-image: url(https://images.unsplash.com/photo-1554721797-ca00339c8819?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

h1{
  font-family: "Gurajada", sans-serif;
  font-size: 7px;
}