@import url(./infos.css);
@import url(./img.css);
@import url(./section.css);
@import url(./../header.css);
@import url(./../projetos/menu.css);
      
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Gurajada&family=Lobster&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&display=swap');

body{
  margin:0 ;
  padding:0 ;
  overflow-x: hidden;
  background-color: #5493D2; 
    margin: 0;
}

h1{
  font-family: "Gurajada", sans-serif;
  font-size: 7px;
}