#telacadastro{
    width: 100vw ;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    
    background-color: rgba(126, 167, 255, 0.1);

}

#inputs_cad{
    width: 30vw;
    height: 50vh;

    background-color: white;
    border-radius: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 5vh w;

}

#buttons_telacad{
    width: 15vw;
    display: flex;
    justify-content: space-between;

}