<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de cartão - Borboletas Azuis</title>
    <link rel="stylesheet" href="./../css/formacao/formacao.css">
    <script type="module" src="./../../controller/formacao/formacao.js" defer></script>
</head>
<body>
    <header>
        <div id="logo_proficao">
            <img src="./../../assets/img/images-removebg-preview.png" alt="Logo">
            <h3>Trabalho da mah</h3>
        </div>
        <div id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href='./index.html'">
                <h6>Home</h6>
            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>
            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href='./projetos.html'">
                <h6>Projetos</h6>
            </button>
        </div>
    </header>

    <section id="cartoes"> 
        
    </section>
    <section id="telacadastro">
        <div id="inputs_cad">
            <input type="nome"  type="text" placeholder="nome">
            <input type="valor" type="text" placeholder="valor">
            <input type="link" type="text" placeholder="link da imagem">
            <div id="buttons_telacad">
                <button>SALVAR</button>
                <button>CANCELAR</button>
            </div>
        </div>
    </section>
</body>
</html>
