<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana Kuhnen</title>
    <link rel="stylesheet" href="./../css/index/index.css">
    <script src="./../../controller/index.js"></script>
    <script src="https://kit.fontawesome.com/8801dd93fc.js" crossorigin="anonymous"></script>
 
</head>

<body>
    <header>
        <div id="logo_proficao">
            <img src="./../../assets/img/images-removebg-preview.png" alt="Logo">
            <h3>Trabalho da mah</h3>
        </div>
        <div id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href='./index.html'">
                <h6>Home</h6>

            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href='./formacao.html'">
                <h6>Formação</h6>

            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href='./projetos.html'">
                <h6>Projetos</h6>
            </button>

        </div>
    </header>
    <section>


        <div id="img_principal">
            <img src="./../../assets/img/il_570xN.4772852590_jq7l-removebg-preview.png" alt="">
        </div>
        <div id="infos">

            <h3 id="primeiro_nome">Mariana</h3>
            <h2 id="segundo_nome" class="cor_verde">Kuhnen</h2>
            <p>a vida é um jardim, e você escolhe quais flores cultivar</p>
        </div>
    </section>
    <footer id="footer">

        <button id="btn_github">
            <i class="fa-brands fa-github"></i>

        </button>

        <button id="btn_insta">
            <i class="fa-brands fa-instagram"></i>
        </button>

        <button id="btn_face">
            <i class="fa-brands fa-facebook"></i>
        </button>





    </footer>
   
</body>


</html>