<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana Kuhnen</title>
    <script src="https://kit.fontawesome.com/8801dd93fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../../view/css/projetos/banner.css">
    <script type="module" src="./../../controller/projetos/bannner.js" ></script>
    <link rel="stylesheet" href="./../css/projetos/menu.css">
    <script type="module" src="./../../controller/projetos/menu.js"></script>
<script type="module" src="./../../controller/projetos/projetos.js"></script>
</head>

<body>
    <header>
        <div id="logo_proficao">
            <img src="./../../assets/img/cabeçalho_logo.png" alt="Logo">
            <h3>Trabalho da mah</h3>
        </div>
        <div id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href='./index.html'">
                Home
            <i class="fa-solid fa-house"></i>
            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href='./formacao.html'">
                Formação
                <i class="fa-solid fa-list"></i>
            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href='./projetos.html'">
                Projetos
                <i class="fa-solid fa-graduation-cap"></i>
            </button>
        </div>
    </header>
    
    <div id="div-father">
        <section>
            
                <div id="banners">
                    <div class="banner" id="id-banner1"></div>
                    <div class="banner" id="id-banner2"></div>
                    <div class="banner" id="id-banner3"></div>
                    <div class="banner" id="id-banner4"></div>
                </div>
                
                <div id="btns-banners">
                    <button class="btn-banner" onclick="trocarBanner(0)"></button>
                    <button class="btn-banner" onclick="trocarBanner(1)"></button>
                    <button class="btn-banner" onclick="trocarBanner(2)"></button>
                    <button class="btn-banner" onclick="trocarBanner(3)"></button>
                </div>
                

        </section>
        <section>
            <nav id="icon-menu" onclick="trocarMenu()">
                <div id="div1"></div>
                <div id="div2"></div>
                <div id="div3"></div>
            </nav>
            <nav id="menu"></nav>
        </section>
    </div>
</body>

</html>
