<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mariana Kuhnen</title>
    <script src="https://kit.fontawesome.com/8801dd93fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./../css/projetos/projetos.css">
    <script type="module" src="./../../controller/projetos/projetos.js" defer></script>
</head>

<body>
    <header>
        <div id="logo_proficao">
            <img src="./../../assets/img/images-removebg-preview.png" alt="Logo">
            <h3>Trabalho da mah</h3>
        </div>
        <div id="btns_paginas">
            <button class="btn" id="btn_home" onclick="window.location.href='./index.html'">
                <h6>Nome Botao</h6>

            </button>
            <button class="btn" id="btn_formacao" onclick="window.location.href='./formacao.html'">
                <h6>Nome Botao</h6>

            </button>
            <button class="btn" id="btn_projetos" onclick="window.location.href='./projetos.html'">
                <h6>Nome Botao</h6>
            </button>

        </div>
    </header>
    <section>
        <nav id="icon_menu" onclick="trocarMenu()">
            <div id="barra_um"></div>
            <div id="barra_dois"></div>
            <div id="barra_tres"></div>
        </nav>
        <nav id="menu">
        </nav>
    </section>

</body>

</html>